<xml>
		<!-- possible values: remote ; local;-->
	<environment>local</environment>
	<browser>chrome</browser>
		<!-- App settings -->
	<timeout>60000</timeout>
	<pollingInterval>1000</pollingInterval>
	<retryCount>0</retryCount>
	<useLocalData>yes</useLocalData>
	<updateTestData>no</updateTestData>
	<enableScreenshoting>no</enableScreenshoting>
		<!-- BrowserStack Common Capabilities -->
	<bsUser></bsUser>
	<bsKey></bsKey>
	<bsRemoteServer>http://hub-cloud.browserstack.com/wd/hub/</bsRemoteServer>
		<!-- possible values: desktop ; device; -->
	<bsPlatform>desktop</bsPlatform>
		<!-- BrowserStack Desktop Capabilities -->
		<!-- possible values: Chrome; Firefox -->
	<bsBrowser>Chrome</bsBrowser>
	<bsBrowserVersion>72.0</bsBrowserVersion>
	<bsOs>Windows</bsOs>
	<bsOsVersion>10</bsOsVersion>
	<bsResolution>1920x1080</bsResolution>
		<!-- BrowserStack Mobile Capabilities -->
	<bsBrowserName>android</bsBrowserName>
	<bsOsPlatform>Android</bsOsPlatform>
	<bsDevice>Samsung Galaxy S5</bsDevice>
</xml>